<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhliang.springboot.dynamic.datasource.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.zhliang.springboot.dynamic.datasource.entity.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="realname" jdbcType="VARCHAR" property="realName" />
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
           *
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>
</mapper>